.main-recomendation {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.style-div {
    height: 80vh;
    width: 45%;
    background-image: url('../../../assets/images/Subtract.png');
    background-size: 100% 100%;

}

.style-div-child {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15% 5%;
}

.style-div-header {
    width: 354px;
    height: 57px;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

.style-div-header p {
    font-family: Livvic;
    font-size: 56px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.alignment-div {
    width: 343px;
    height: 24px;
    background-image: url('../../../assets/images/Vector 11.png');
    background-size: 100% 100%;


}

.let-us-knew {
    width: 403px;
    height: 120px;

}

.let-us-knew p {
    font-family: Livvic;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0.11em;
    text-align: left;
    color: white;

}

.swipe-right {
    width: 309px;
    height: 26px;

}

.swipe-right p {
    color: white;
    font-family: Livvic;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: left;

}

.get-started-btn {
    width: 270px;
    height: 60px;
    border-radius: 40px;
    background: #70CAD1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;


}

.get-started-btn p {
    color: white;
    margin-top: 5%;
}

.btn-arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: white;
    margin-left: 40%;
    background-image: url('../../../assets/images/Group\ 40333.png');
    background-size: 90% 100%;

}

.recomendation-div {
    height: 80vh;
    width: 45%;
    /* border: 2px solid rgb(14, 47, 155); */

}


@media (max-width: 768px) {
    .main-recomendation {
        height: 150vh;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column-reverse;
    }

    .style-div {
        height: 75vh;
        width: 90%;
        background-image: url('../../../assets/images/Subtract.png');
        background-size: 100% 100%;

    }

    .style-div-child {
        width: 60%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 7% 3%;
    }

    .get-started-btn {
        width: 170px;
        height: 40px;
        border-radius: 20px;
        background: #70CAD1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;


    }

    .get-started-btn p {
        color: white;
        margin-top: 5%;
        font-size: small;
    }

    .btn-arrow {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: white;
        margin-left: 30%;
        background-image: url('../../../assets/images/Group\ 40333.png');
        background-size: 90% 100%;

    }
}

@media (max-width: 415px) {
    .let-us-knew {
        width: 350px;
        height: 120px;
    
    }

    .alignment-div {
        width: 300px;
        height: 24px;
        background-image: url('../../../assets/images/Vector 11.png');
        background-size: 100% 100%;
    
    
    }
}
